
@{
    ViewBag.Title = "PostThread";
    Layout = "~/Views/Shared/my_Layout.cshtml";
}
@model FORUM_WEB_2._0.Models.ThreadModel
@section styles{
    <style>
        .post-thread {
            background-color: #ebeced;
        }

        .tittle-thread {
            margin: 5px;
        }

            .tittle-thread > input {
                height: 55px;
                border-color: lightgrey;
                font-size: 17px;
                border-width: 0.5px;
                background-color: #ebeced;
            }

        .content-thread {
            margin: 5px;
        }

            .content-thread > textarea {
                background-color: #ebeced;
                min-height: 300px;
                border-color: lightgrey;
                font-size: 17px;
                border-width: 0.5px;
            }

        .button {
            margin: 5px;
        }
    </style>
}
<div class="container" style="padding: 0;">
    <div class="post-name">
        <h4 style="color: white; font-weight: 400;">POST THREAD</h4>
    </div>
</div>
<div class="container" style="padding: 0;">
    @using (Html.BeginForm("PostThread", "PostPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="post-thread">
            <div class="row">
                <div class="col-xl-12">
                    <div class="tittle-thread">
                        @*<input type="text" name="" id="" placeholder="Tittle thread" style="width: 100%;">*@

                        @Html.TextAreaFor(Model => Model.TieuDe, htmlAttributes: new { style = "width: 100%;", @placeholder = "Tittle thread" })
                        @Html.ValidationMessageFor(Model => Model.TieuDe)
                        <script>
                            tinymce.init({
                                selector: 'textarea',
                                plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                                toolbar_mode: 'floating',
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="content-thread">
                        @Html.TextAreaFor(Model => Model.NoiDung, htmlAttributes: new { cols = "50", rows = "4", style = "resize: none; width: 100%;", @placeholder = "Content thread", htmlAttributes = new { @class = "form-control", @id = "basic-example" } })
                        @Html.ValidationMessageFor(Model => Model.NoiDung)
                        <input type="file" name="postedFiles" id="" value="" multiple>
                    </div>
                </div>
            </div>
            <div class="container" style="padding: 0;">
                <div class="button">
                    <button type="submit" class="btn btn-primary">Post thread</button>
                </div>
            </div>
        </div>
    }
</div>
@section scripts{

}

