@model FORUM_WEB_2._0.Models.CommentModel
<div class="col-xl-10">
    @using (Html.BeginForm("PostComment", "PostPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="content-answer">
        @Html.TextAreaFor(Model => Model.NoiDung, new { cols = "50", rows = "4", style = "height: 100%; width: 100%; resize: none;", id = "comment" })
        @Html.ValidationMessageFor(Model => Model.NoiDung)
        <input type="file" name="image" id="" value="" multiple>
    </div>
        <div class="question-func">
            <div class="post">
                <button type="submit" class="btn btn-primary">Comment</button>
            </div>
        </div>
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
</div>



